# Android Studio / Gradle
.gradle/
build/
local.properties
*.iml
.idea/
captures/
output.json

keystore.jks
gradle.properties

# OS files
.DS_Store
Thumbs.db

# APKs
*.apk
*.ap_

# (Copyright Sound clips)
/app/src/main/res/raw/eve_welcome.mp3